<div class="col s12 m12 l12" id="particles-js"></div>

<div class="row bimg contact" style="padding:3%">
  <div class="col s12 m12 l6 offset-l1">
    <div class="hide-on-small-only animated fadeInUp">
      <h1 class="white-text" style="font-family:monospace">Contact Us</h1>
      <cite class="white-text" style="font-size:18px">Let's get in touch and build something</cite>
    </div>
    <div class="centerThings hide-on-med-and-up">
      <h2 class="white-text" style="font-size:25px;font-family:monospace">ScalaMill Blog</h2>
      <p class="white-text" style="font-size:20px">Visit us for boosting your productivity</p>
    </div>

    <div class="col s12 l11 m12 xl11 offset-l1 offset-l1  hide-on-med-and-up animated fadeInUp">
      <h1 class = "white-text" style="font-size:23px">Your pathway to functional, reactive, pragmatic programming,
        follow our blog to get updates in functional reactive and big data ecosystem.</h1>
    </div>

  </div>

  <div class="col s11 l10 m12 xl10 offset-l1 offset-xl1 hide-on-small-only animated fadeInUp">
    <h3 class = "white-text">Your pathway to functional, reactive, pragmatic programming,
      follow our blog to get updates in functional, reactive and big data ecosystem.</h3>
  </div>

</div>