<div class="col s11 m12 l12 hide-on-small-only" id="particles-js"></div>

<div class="bimg random" style="padding:4%">
  <div class = "row">
  <div class="col s12 m12 l4 xl4 offset-l1 offset-xl1">
    <div class="">
      <h2 class="white-text text-darken-5" style="font-size:35px">Contact Us</h2>
      <cite class="white-text">Let's get in touch and build something</cite>
    </div>

  </div>

  <div class="col s11 l8 m12 xl10 offset-l2 offset-xl1">
    <h4 class="white-text">
        We are expert in functional programming, reactive architechure, microservices
        and spark. We provides development services, consulting and training over lightbend product .
    </h4>
  </div>

</div>
</div>