<div class="col s11 m12 l12" id="particles-js"></div>

<div class="row bimg random" style="padding:3%">

  <div class="col s12 m12 l4 xl4 offset-xl1">

  <div class="hide-on-small-only">
    <h2 class="white-text" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;">Contact Us</h2>
    <cite class="white-text" style="font-size:18px">Let's get in touch and build something</cite>
  </div>
  
  <div class="centerThings hide-on-med-and-up">
    <h2 class="white-text" style="font-size:25px;font-family:monospace">ScalaMill Blog</h2>
    <p class="white-text" style="font-size:20px">Let's get in touch and build something</p>
  </div>


  <div class="col s10 l7 m12 xl10 offset-l1 offset-l1  hide-on-med-and-up animated fadeInUp">
      <h1 class="white-text" style="font-size:23px">We are expert in functional programming, reactive architechure, microservices
        and spark. We provides development services, consulting and training over lightbend product .</h1>
    </div>
    
    </div>
    
    <div class="col s10 l7 m12 xl10 offset-l1 offset-xl1 hide-on-small-only">
      <h3 class="white-text">We are expert in functional programming, reactive architechure, microservices and spark. We provides
        development services, consulting and training over lightbend product.</h3>
    </div>
  

  </div>
  
 
</div>


