<head>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<div class = "row">
<div class="col s5 offset-s2 blue lighten-2 white-text">

    <h5 class="white-text">Follow and connect with us on social and corporate Media</h>
    <div class="section"> </div>
    <a href="https://www.linkedin.com/company/scalamill/">
        <i class="fa fa-linkedin share-button white-text"> Linkedin</i></a>

    <a href="https://www.linkedin.com/in/scalamill-software-48a16715b/">
        <i class="fa fa-linkedin share-button white-text"> Linkedin page</i></a>
    </br>
    <a href="https://twitter.com/scalamill">
        <i class="fa fa-twitter share-button white-text"> Twitter</i></a>
</div>
</div>
</div>