<footer class="page-footer blue-grey darken-3">
    <div class="container col s10 offset-s1" style="font-family:'font-family: 'PT Serif',sans-serif">
      <p class="white-text center">
        <em>"ScalaMill, now is a startup community of individuals who works towards providing modern software solutions using cutting-edge
          technologies.Since we have just started we work from home. We are a startup and help startup's as well as big organisation to build thier solutions .
          We welcome clients of every type from small to big enterprises".
        </em>
      </p>
    <br>
    </div>
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">ScalaMill</h5>
          <p class="grey-text text-lighten-4">Developing Software At Pace</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="https://www.scalamill.com/home">Company</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="https://www.scalamill.com/services/consulting">Consulting and Traning</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="https://www.scalamill.com/training">Training</a>
            </li> 
            <li>
              <a class="grey-text text-lighten-3" href="https://www.scalamill.com/blog">blog</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="https://www.scalamill.com/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        ScalaMill©2017 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>    
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body></html>