<div class="col s11 m12 l12 hide-on-small-only" id="particles-js"></div>

<div class="bimg contact" style="padding:4%">
  <div class = "row">
  <div class="col s12 m12 l4 xl4 offset-l1 offset-xl1">
    <div class="">
      <h2 class="white-text text-darken-5" style="font-size:30px">Services</h2>
      <cite class="white-text">Engage with us and build your product</cite>
    </div>

  </div>

  <div class="col s11 l8 m12 xl10 offset-l2 offset-xl1">
    <h4 class="white-text">
      Your destination for Application development using functional languages, reactive architecture, microservices and
      big data. We built custom software solutions using
      scala, java, akka, play framework, lagom and spark.
    </h4>
  </div>

</div>
</div> 

