<div class="col s11 m12 l12" id="particles-js"></div>

<div class="row bimg blog" style="padding:3%">

  <div class="col s12 m12 l4 xl4 offset-l1 offset-xl1">

  <div class="hide-on-small-only">
    <h2 class="white-text" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;">Services</h2>
    <cite class="white-text" style="font-size:18px">Engage with us and build your product</cite>
  </div>
 
</div>

<div class="col s11 l7 m12 xl9 offset-l2 offset-xl1 hide-on-small-only">
    <h3 class="white-text">
      Your destination for Application development using functional languages, reactive architecture, microservices and big data. We built custom software solutions using 
      scala, java, akka, play framework, lagom and spark. 
    </h3>
</div>    

</div>

