
<div class="row bimg training-background" style="padding:3%">
    <div class="col s12 m12 l12" id="particles-js"></div>
  <div class="col s12 m12 l4 offset-l1">
    <div class="hide-on-small-only">
      <h2 class="white-text" style="font-size:25px;font-family:monospace">ScalaMill Training</h2>
      <cite class="white-text" style="font-size:18px">Your training partner for Lightbend Technologies.</cite>
    </div>
    <div class="centerThings hide-on-med-and-up">
      <h2 class="white-text" style="font-size:25px;font-family:monospace">ScalaMill Blog</h2>
      <p class="white-text" style="font-size:20px">Your training partner for Lightbend Technologies.</p>
    </div>

    <div class="col s11 l7 m12 xl9 offset-l1 offset-xl1 hide-on-med-and-up">
      <h1 class="white-text" style="font-size:23px">Are you looking for training on Scala, Akka, Play, Lagom or Spark. We provides corporate training in Lightbend technologies.</h1>
    </div>
  </div>

  <div class="col s11 l7 m12 xl9 offset-l2 offset-xl1 hide-on-small-only">
    <h3 class="white-text">
      Are you looking for training on Scala, Akka, Play, Lagom or Spark. We provides corporate training in Lightbend technologies.
    </h3>
    
    <a href="{{site.url}}/contactus.html" class = "btn btn-medium transparent" style="font-size:15px;font-weight:600;border:solid;border-width:1px;margin-top:3%;">Contact Us</a>

  </div>


</div>