<div class="carousel carousel-slider bimg center">

    <div id="particles-js" class="carousel-fixed-item hide-on-small-only">
    </div>


    <div class="carousel-item random white-text" href="#one!">

        <div class="row">

            <div class="col s12 xl8 offset-xl1 l10 offset-l1">

                <h1 class="white-text left-align">Are you looking for your remote or in-house scala team.</h1>
                <h4 class="white-text flow-text left-align">
                    We are a team of engineers who are expert in Lightbend technologies and provides development
                    services in Scala, Akka, Play, Lagom, Spark and much more.</h4>
            </div>

        </div>
    </div>

    <div class="carousel-item blog white-text" href="#one!">

        <div class="row">

            <div class="col s12 xl8 offset-xl1 l10 offset-l1">

                <h1 class="white-text left-align">Stucked with a scala project contact us to rescue that.</h1>
                <h4 class="white-text flow-text left-align">
                    If you are handling a project in scala or building a product using Lightbend technologies and
                    facing difficulties we can help you.</h4>

            </div>
        </div>
    </div>

    <div class="carousel-item training-background white-text" href="#one!">

        <div class="row">

            <div class="col s12 xl8 offset-xl1 l10 offset-l1">

                <h1 class="white-text left-align">Are you looking for consulting over scala project</h1>
                <h4 class="white-text flow-text left-align">
                    We consult over scala project architecture, do code reviews, provide trainings and best development
                    practices of functional programming and reactive architecture.</h4>
            </div>
        </div>
    </div>


    <div class="carousel-item blog white-text" href="#one!">

        <div class="row">

            <div class="col s12 xl8 offset-xl1 l10 offset-l1">

                <h1 class="white-text left-align">We are your team for cutting-edge technologies and big data.</h1
                    class="white-text">
                <h4 class="white-text flow-text left-align">
                    We love to work in niche project and technologies.
                    Let us know if you are using cutting-edge technologies and want to build a team with us.
                </h4>

            </div>

        </div>
    </div>
</div>