

<div class="carousel carousel-slider bimg center">
    
    <div  id= "particles-js"  class="carousel-fixed-item">
    </div>
    

    <div class="carousel-item random white-text" href="#one!">

        <div class="row">

            <div class="col s6 offset-s3 xl8 offset-xl1 l10 offset-l1">

                    <h1 class = "white-text left-align">Are you looking for your remote or in-house scala team.</h1>
    
            </div>

            <div class="col s10 offset-s1 xl9 offset-l1 xl7 offset-xl1">

                    <h2 class = "white-text flow-text left-align">
                        We are a team of engineers who are expert in Lightbend technologies and provides development services in Scala, Akka, Play, Lagom, Spark and much more. 
                        Let us know.</h2>
    
            </div>
    
        </div>
    </div>
    
    <div class="carousel-item blog white-text" href="#one!">
    
        <div class="row">

            <div class="col s6 offset-s3 xl8 offset-xl1 l10">
    
                    <h1 class = "white-text left-align">Stucked with a scala project. Contact us to resue that.</h1>
    
            </div>

            <div class="col s10 offset-s1 l9 offset-l1 xl7 offset-xl1">

                    <h2 class = "white-text flow-text left-align">
                        If you are handling a project in scala or building a product using Lightbend technologies and facing difficulties we can help you.</h2>
    
            </div>
    
        </div>
    </div>
    
    <div class="carousel-item training-background white-text" href="#one!">
            <div class="col s11 m12 l12" id="particles-js"></div>

        <div class="row">
    
            <div class="col s6 offset-s3 xl9 offset-xl1 l10">
    
                    <h1 class = "white-text left-align">Are you looking for consuting over scala project</h1 class = "white-text">
    
            </div>

            <div class="col s10 offset-s1 l9 offset-l1 xl7 offset-xl1">

                    <h2 class = "white-text flow-text left-align">
                        We consult over scala project architecture, do code reviews, provide trainings and best development practices of functional programming and reactive architecture.</h2>
    
            </div>
    
        </div>
    </div>
    
    
    <div class="carousel-item blog white-text" href="#one!">
            <div class="col s11 m12 l12" id="particles-js"></div>

        <div class="row">
    
            <div class="col s6 offset-s3 xl8 offset-xl1 l10">
    
               
                    <h1 class = "white-text left-align">We are your team for cutting-edge technolgies and big data.</h1 class = "white-text">
    
            </div>
    
            <div class="col s10 offset-s1 l9 offset-l1 xl7 offset-xl1">

                    <h2 class = "white-text flow-text left-align">
                    We love to work in niche project and technologies.
                    Let us know if you are using cutting-edge technologies and want to build a team with us.    
                    </h2>
    
            </div>

        </div>
    </div>
       


</div>

</div>