@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);


#share-bar {
  font-size: 20px;
}

#share-bar h4 {
  margin-bottom: 10px;
  font-weight: 500;
} 

/* All buttons */
.share-buttons {}

/* Each button */
.share-button {
  margin: 0px;
  margin-bottom: 10px;
  margin-right: 3px;
  border: 1px solid white;
  padding: 5px 10px 5px 10px;
}

.share-button:hover {
  opacity: 1;
  color: #ffffff;
}

/* Facebook button */
.fa-facebook-official {
  color: #3b5998;
}

.fa-facebook-official:hover {
  background-color: #3b5998;
}

/* Twitter button */
.fa-twitter {
  color: #55acee;
}

.fa-twitter:hover {
  background-color: #55acee;
}

/* Google-PLus button */
.fa-google-plus {
  color: #dd4b39;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(83, 202, 196);
}

.fa-google-plus:hover {
  background-color: #dd4b39;
}

/* Pinterest button */
.fa-pinterest-p {
  color: #cb2027;
}

.fa-pinterest-p:hover {
  background-color: #cb2027;
}

/* Tumblr button */
.fa-tumblr {
  color: #32506d;
}

.fa-tumblr:hover {
  background-color: #32506d;
}

/* Reddit button */
.fa-reddit-alien {
  color: #ff4500;
}

.fa-reddit-alien:hover {
  background-color: #ff4500;
}

/* LinkedIn button */
.fa-linkedin {
  color: #007bb5;
}

.fa-linkedin:hover {
  background-color: #007bb5;
}

/* Email button */
.fa-envelope {
  color: #444444;
}

.fa-envelope:hover {
  background-color: #444444;
}

span {
  font-weight: 300;
  font-family: 'PT Serif', serif";

}

ul:last-child {
  margin-right: 5%;
}

.share-page {
  text-align: left;
  background: $secondary-color;
  color: $light-color;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 1.5 * $spacing-unit 0;

  a {
    font-weight: 700;
    color: #fff;
    margin-left: 10px;

    &:hover {
      border-bottom: 1px dashed #fff;
    }
  }
}

div {
  /* border-style: groove; */
}


body {
  font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
  /* font-family: 'Glegoo'; */
  /* font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif; */
  /* font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; */
  /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif; */
  /* font-family: Lato; */
}


pre {
  height: auto;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}​
 

.one {
  font-weight:100 !important
}

.three {
  font-weight:300 !important
}

.four {
  font-weight:400 !important
}

.six {
  font-weight:600 !important
}

strong {
  color: rgb(231, 100, 139);
  font-size: 17px;
}

h1 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
}

h3{
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
  color:#4b709bd7;
  line-height: 1.2em
}

h2 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
  color:#4b709bd7;
}

.line-space {
  line-height: 1.5em;
}

h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
  color:#4b709bd7;
  line-height: 1.2em
}

h6 {
  font-family: Lato;
  font-weight: 400 !important;
  color: rgb(209, 98, 131);
  margin-top: 2%;
  margin-bottom: 2%;
}


cite {
  font-weight: 400 !important;
  font-family: "Open Sans", sans-serif;
}

b {
  color: rgb(231, 100, 139);
  font-size: 20px;
  font-weight: 400;
}

ul> li > a {
  font-weight: bold !important;
}

li> a:hover {
  background: none !important;
  color: rgb(233, 89, 190) !important;
}

li>a:active {
  color: rgb(1  83, 0, 255) !important;
}

ul > li > a {
  color: #903;
  font-family: Georgia;
  padding-top: 4px;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size:12px!important;
  color: rgba(19, 20, 24, 0.973) !important;
}

* {
  margin: 0;
  padding: 0;
}

.shine-me {
  animation-name: ShineAnimation;
  -webkit-animation-name: ShineAnimation;
  animation-duration: 3s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes ShineAnimation {
  from {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(160deg,
      rgba(255, 255, 255, 0.0) 0%,
      rgba(255, 255, 255, 0.0) 45%,
      rgba(255, 255, 255, 0.5) 48%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0.5) 52%,
      rgba(255, 255, 255, 0.0) 57%,
      rgba(255, 255, 255, 0.0) 100%);
    background-position: -250px -250px;
    background-size: 300px 300px
  }

  to {
    background-repeat: no-repeat;
    background-position: 250px 250px;
  }
}

@keyframes shine {
  0%, 10% {
    background-position: -1000px;
  }

  20% {
    background-position: top left;
  }

  90% {
    background-position: top right;
  }

  100% {
    background-position: 1000px;
  }
}

.pseudolink {
  color: rgb(85, 94, 133);
  text-decoration: underline;
  cursor: pointer;
}

.whoweare {
  font-size:17px!important; 
  text-align:left; 
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif;
 }

p {
  color: #2e4769 !important;
  font-size: 16px !important;
  font-family: Lato;
  font-weight: 400 !important;
  line-height: 1.8em;
  font-weight: 300;
  margin-top: 2%;
  margin-bottom: 2%;
  word-spacing: 2px;
}

@media only screen and (max-width: 768px) {

  .blogpost div> pre> code {
    font: normal 14px Consolas, Monaco, monospace !important;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: lighter;
    font-stretch: normal;
    font-size: 14px;
    line-height: 1.5em;
    font-family: Consolas, Monaco, monospace;
  }
 
  p, ol > li {
      font-size: 16px !important;
      margin: 0% !important
  }

  .blogpost  h2 {
    font-weight: 700 !important;
    font-size:25px !important;
    color : rgba(0, 0, 0, 0.89);
    word-spacing: -3px !important;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important
  }

  .blogpost  p {
    margin-top:5% !important;
    margin-bottom:5% !important;
    font-size:17.5px !important;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.774) !important;
    word-spacing: 1px !important;
    letter-spacing: -.004em;
    font-family:medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif !important; 
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    outline: 0;
    word-break: break-word;
    word-wrap: break-word;  x   
  }

  .blogpost  a {
    font-size:17px !important;
  }

  .blogpost ol li {
    font-size:17px !important;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.774) !important;
    margin-left:3%;
    word-spacing: 1px !important;
  }

  h1 {
    font-size: 35px !important;
    text-align: justify
  }

  h2 {
    font-size: 33px !important;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

  .carousel-item >  h2 {
    font-size: 15px !important;
  }

  .bimg {
    height:90% !important
  }

  h3 {
    font-size: 30px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 17px !important;
  }

  h6 {
    font-size: 14px !important;
  }

  .whoweare  {
    font-size: 16px !important;
  }
}

.highlighter-rouge {
  /* margin-left: 1%; */
  padding-top: 2%;
  padding-bottom: 2%;
  /* box-shadow: 0 0 12px rgba(137, 188, 192, 0.541); */
  transition: 0.3s;
  border-radius: 2px;
  border-width: 1px;
  height: auto;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: hsla(219, 79%, 44%, 0.753) !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: hsla(219, 79%, 44%, 0.753) !important;
  margin-bottom:2%;
  margin-top:2%; 
}


blockquote {
  font-size: 16px;
  color: rgb(126, 126, 185)
}

.centerThings {
  padding: 30px 0;
  text-align: center;
}

.centerThings2 {
  padding: 100px 0;
  text-align: center;
}

.centered {
  position: absolute;
  top: 75%;
  left: 50%;
}

.bimg {
  height: 58%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 60%;
  max-height: 60%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.carousel-item {
  padding: 3%;
}

body, html {
  height: 100%;
  margin: 0;
}

.leftbar {
  border-left: 6px solid hsl(0, 72%, 56%) !important;
  border-left-width: 6px !important;
  border-left-style: solid !important;
  border-left-color: rgb(24, 122, 202) !important;
}

label
{
  color:blue
}

.blog {
  background: linear-gradient(to left, #6498f3, rgb(255, 195, 160));
  /* background: linear-gradient(to left, rgb(255, 175, 189), rgb(255, 195, 160)); */
  /* background: linear-gradient(to right, rgb (238, 188, 197), rgb(250, 207, 182)); */
}

.random {
  background: linear-gradient(to left, rgb(255, 175, 189), rgb(255, 195, 160));
}

.post-header {
  background: linear-gradient(to right, rgb(97, 144, 232), rgb(167, 191, 232));
}

.contact {
  background: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212));
}

.training-background {
  background:  linear-gradient(to left, rgb(107, 184, 84), rgb(119, 150, 218));
  /* background: linear-gradient(to left, rgb(255, 175, 189), rgb(255, 195, 160)); */
  /* background: linear-gradient(to right, rgb (238, 188, 197), rgb(250, 207, 182)); */
}

.course-background {
  /* background-image:  linear-gradient(to left, rgb(153, 104, 163), rgb(133, 50, 158)); */
  background-image: url("./trianglify.png");
  height:40%

  /* background: linear-gradient(to left, rgb(255, 175, 189), rgb(255, 195, 160)); */
  /* background: linear-gradient(to right, rgb (238, 188, 197), rgb(250, 207, 182)); */
}

.followus {
  /* background-color: #f977ce;
 background-image: linear-gradient(141deg, #ec8dcc 0%, #ca8fec 74%); */
  background-image: url("./trianglify.png")
}

.trianglify5 {
  /* background-color: #f977ce;
 background-image: linear-gradient(141deg, #ec8dcc 0%, #ca8fec 74%); */
  background-image: url("./trianglify5.png")
}

.trianglify4 {
  /* background-color: #f977ce;
 background-image: linear-gradient(141deg, #ec8dcc 0%, #ca8fec 74%); */
  background-image: url("./trianglify4.png")
}

.trianglify3 {
  /* background-color: #f977ce;
 background-image: linear-gradient(141deg, #ec8dcc 0%, #ca8fec 74%); */
  background-image: url("./trianglify3.png")
}

.trianglify2 {
  /* background-color: #f977ce;
 background-image: linear-gradient(141deg, #ec8dcc 0%, #ca8fec 74%); */
  background-image: url("./trianglify.png")
}

.trianglify1 {
  /* background-color: #f977ce;
 background-image: linear-gradient(141deg, #ec8dcc 0%, #ca8fec 74%); */
  background-image: url("./trianglify2.png")
}

.tags {
  margin: 1%
}

#lists> ol {
  list-style: none;
  margin-left: 4%;
  margin-bottom: 2%;
  line-height: 1.8em
}

ol {
  list-style: none;
  font-size: 16px !important;
  margin-bottom: 2%;
}

ol > li {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #30476b !important;
}

ol > li::before {
  content: "•";
  color: rgb(33, 207, 42) !important;
  display: inline-block;
  width: 0.7em;
  font-size:25px;
  margin-left: -1em
}


.half-circle {
  height: 200px;
  background-color: gold;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.half-circle-2 {
  height: 200px;
  background-color: gold;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}

.carousel-item {
  padding: 3%
}

@media only screen and (min-width: 768px) {
.blogpost  h2 {
  font-weight: 700 !important;
  font-size:35px !important;
  color : rgba(0, 0, 0, 0.842);
  word-spacing: -2px !important;
  -webkit-font-smoothing: antialiased;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important
}

.blogpost  p {
  font-size:17px!important; 
  text-align:left; 
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif;
 /* font-size: 21px !important;
 word-spacing: 2px !important;
 line-height: 1.6em !important;
 font-weight: 400 !important;
 color: rgba(0, 0, 0, 0.849) !important;
 font-family: "Source sans Pro"; */
 /* -webkit-font-smoothing: antialiased; */
}

.blogpost ol li {
  font-size: 19px !important;
  word-spacing: 1px !important;
  line-height: 1.8em !important;
  font-weight: 400 !important;
  font-family: "Source sans Pro"
 }


 .blogpost div> pre> code {
  font: normal 15px Consolas, Monaco, monospace !important;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: lighter;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.5em;
  font-family: Consolas, Monaco, monospace;
} 

}
.postoverview  h2 {
  font-size: 17px !important;
  color: black;
  font-weight:400 !important;
}

.postoverview  p {
  font-size:17px!important; 
  text-align:left; 
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif;
}
