--- 
layout: default 
--- 
{% include contactusBanner.html %}
<div class="row" style="padding:4%">

    <div class="col s12 xl4 offset-xl1">
    
        <div class="row">
    
            <h2 class="blue-grey-text"> Let us know your concerns.</h2>
            <p>
                Are you having any project in mind or you need development support or consulting and in-house training on your scala project.
                Let us know your problems and requirements. We encourage you to send us a custom mail at <strong>contact@scalamill.com</strong>
            </p>

         <div>
           <h2 class="blue-grey-text">Our Presence.</h2>
           <ol>
               <li><cite>Noida, Hyderabad, </cite>India</li>
               
               <cite class="blue-grey-text"> Currently we operate from India and handle assignments.</cite>
           </ol>
         </div>   
        </div>
    </div>

    <div class = "col s12 xl5 offset-xl1">
            <h2 class="blue-grey-text"> Contact us.</h2>
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
         <i class="material-icons prefix grey-text text-darken-2">face</i>
          <input id="icon_face" type="text" class="validate" name = "first" required="required">
          <label for="icon_face">Name</label>
        </div>
        <div class="input-field col s6">
         <i class="material-icons prefix grey-text text-darken-2">email</i>
          <input id="icon_email" type="email" class="validate "name = "email"  required="required">
          <label for="icon_email" data-error="Write your email again please!" data-success="OK, you're good!">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
         <i class="material-icons prefix grey-text text-darken-2">gesture</i>
          <input id="icon_subject" type="text" class="validate" name = "subject" required="required">
          <label for="icon_subject">Subject</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
         <i class="material-icons prefix grey-text text-darken-2">create</i>
          <textarea id="icon_message" class="materialize-textarea" name = "message" required="required"></textarea>
          <label for="icon_message">Message</label>
        </div>
      </div>
      <div class="row">
      <div class="input-field col s12">
         <button class="btn button4 green waves-effect waves-light valign-wrapper" type="submit" name="action">
             Send Letter <i class="material-icons right">send</i>
         </button>
         </div>
      </div>
    </form>
  </div>

    </div>

</div>
