{% include header.html %}

<div class="col s12 m12 l12" id="particles-js"></div>

<div class="section img">
  <div class="container">
    <div class="centerThings2 hide-on-small-only">
      <h2 class="white-text" style="font-size:25px;font-family:monospace">ScalaMill Blog</h2>
      <p class="white-text" style="font-size:20px">Visit us for boosting your productivity</p>
    </div>
    <div class="centerThings hide-on-med-and-up">
      <h2 class="white-text" style="font-size:25px;font-family:monospace">ScalaMill Blog</h2>
      <p class="white-text" style="font-size:20px">Visit us for boosting your productivity</p>
    </div>
  </div>
</div>
<div class="container" style="position:relative">
  {{ content }}
</div>

{% include footer.html %}
