{% include header.html %}
<div class="section img">
    <div class="container">
      <div class = "centerThings2 hide-on-small-only">
      <h2 class="orange-text" style="font-size:25px;font-family:monospace">ScalaMill Blog</h2>
      <p class="white-text" style="font-size:20px">Visit us for boosting your productivity</p>
    </div>
    <div class = "centerThings hide-on-med-and-up">
        <h2 class="orange-text" style="font-size:25px;font-family:monospace">ScalaMill Blog</h2>
        <p class="white-text" style="font-size:20px">Visit us for boosting your productivity</p>
      </div>
  </div>
  </div>
<div class="container">
     {{ content }}
</div>

{% include footer.html %}
