---
layout: default
---
{% include blogbanner.html %}
<div class="container" style="position:relative">
<div class="section">
</div>
{% for post in site.posts %}
<div class="row">
  <div class="col s12 m6 l8 xl8">
    <div>
      <div style="padding:0 1 0 1%">
        <h5 class="left-align" style="color:hsl(226, 41%, 49%)">
          <em style= "font-size:30px;">{{post.title}}</em>
          <p class="orange-text">
            {{ post.tags }}
          </p>
        </h5>

        <cite class="orange-text">
          Last updated on
          <span class="post-meta">
            <span class="post-date">
              {{ post.date | date: "%-d %b %Y" | upcase }}
            </span>
          </span> by
          <span class="post-meta">
            <span class="post-author">
              {{ post.author }}
            </span>
        </cite>
      </div>

      <div class = "postoverview" style="padding:0 1 0 1%">
        {{ post.content | truncate: 300 }}
        <div class="card-action">
          <a href="{{ post.url | prepend: site.baseurl }}">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>

