{% include header.html %}


<div class="row">
  <div class="" style="padding:0.5%">
    <div class="col s8 m8 xl8 l8 offset-s1 offset-l1 offset-m1 offset-xl1 z-depth-3">
      <div style="padding:1%">
        <h5 class="left-align" style="color:hsl(226, 41%, 49%)">
        <em>{{page.title}}</em>
      </h5>
        <cite class="orange-text">Last updated on <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" | upcase }}
      </span>
    </span> by <span class="post-meta">
        <span class="post-author">
          {{ page.author}}
        </span></cite>
      </div>

      <div style="padding-left:1%">
        {% include share.html %}

        <p>{{content}}</p>
      </div>
    </div>
    <!-- <cite class="orange-text">Last updated on {{post?.date}} by {{post?._embedded?.author[0].name}}</cite> -->
  </div>

</div>

<div class = "row">
  <div class = "container col s8 m8 xl8 l8 offset-s1 offset-l1 offset-m1 offset-xl1 z-depth-3" style="padding:2%">
  {% include discuss.html %}
</div>
</div>



{% include footer.html %}
