---
layout: default
---
{% include servicesbanner.html %}

<div class="animatedParent once">
    <h3 class="lighten-1 blue-grey-text text-lighten-1 center animated zoomIn" style="padding:4%">Our
        Domain of expertise.</h3>
</div>
<div class="row">


    <div class="row animatedParent once">
        <div class="col s12 m6 xl6 l12 cyan half-circle animated fadeInLeft delay-250">
            <h3 class=" lighten-1 white-text text-lighten-3 right-align" style="padding:5%">
                Application development</h3>
        </div>

        <div class="col s6 offset-s1 animatedParent once">
            <p class="animated fadeInRight" style="padding:5%">We build custom software using <strong>scala, akka,
                    java, play framework, lagom, functional programming</strong> and
                other libraries existing in java and scala ecosystem. We are here to build a team for your project
                and provides you state of the art development using cutting edge technologies. </p>
        </div>
    </div>

    <div class="row animatedParent once">
        <div class="col s12 m6 xl6 l12 pink lighten-3 half-circle animated fadeInLeft delay-250">
            <h3 class="lighten-1 white-text text-lighten-3 right-align" style="left:0;padding:5%">
                Big data and Analytics</h3>
        </div>
    </div>
    <div class="col s6 offset-s1 animatedParent once">

        <p class="animated fadeInRight" style="padding:5%">We provide big-data solutions using hadoop and spark
            ecosystem, We have built several distributed and big data processing engines in past. 
            Spark is a generel purpose engine to process large amonnt of data.
        </p>
    </div>

    <div class="row animatedParent once">
        <div class="col s12 m6 xl6 l12 cyan half-circle animated fadeInLeft delay-250">
            <h3 class="lighten-1 white-text text-lighten-3 right-align" style="left:0;padding:5%">
                Micro Services</h3>
        </div>
    </div>
    <div class="col s6 offset-s1 animatedParent once">

        <p class="animated fadeInRight" style="padding:5%">We provide big-data solutions usinh <strong>hadoop</strong> and <strong>spark</strong> 
            ecosystem, We have built several distributed and big data processing engines in past
        </p>
    </div>
    <div class="row animatedParent once">
        <div class="col s12 m6 xl6 l12 blue-grey half-circle animated fadeInLeft delay-250">
            <h3 class="lighten-1 white-text text-lighten-3 right-align" style="left:0;padding:5%">
                Rest API</h3>
        </div>
    </div>
    <div class="col s6 offset-s1 animatedParent once">

        <p class="animated fadeInRight" style="padding:5%">We provide big-data solutions usinh hadoop and spark
            ecosystem, We have built several distributed and big data processing engines in past
        </p>
    </div>

</div>
</div>